<a href="https://colab.research.google.com/github/Brunorreis123/PrevisaoTempo/blob/master/filme_recomendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importando as bibliotecas a serem utilizadas
import pandas as pd
import numpy as np

In [ ]:
# Importando o dataset de filmes e vizualizamos as primeiras linhas
filmes = pd.read_csv('movies_metadata.csv', low_memory = False)
filmes.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [ ]:
# Importando o arquivo de avaliações
avaliacoes = pd.read_csv('ratings.csv')
avaliacoes.head(5)

   userId  movieId  rating     timestamp
0       1    110.0     1.0  1.425942e+09
1       1    147.0     4.5  1.425942e+09
2       1    858.0     5.0  1.425942e+09
3       1   1221.0     5.0  1.425942e+09
4       1   1246.0     5.0  1.425942e+09

## Pré processamento dos **dados**

In [ ]:
# Filtrando somente as colunas necessários e renomeando nome das variaveis

# Seleciona somente as variaveis que iremos utilizar
filmes = filmes [['id','original_title','original_language','vote_count']]

# Renomeia as variaveis
filmes.rename(columns = {'id':'ID_FILME','original_title':'TITULO','original_language':'LINGUAGEM','vote_count':'QT_AVALIACOES'}, inplace = True)

# Exibe as primeiras linhas do arquivo tratado
filmes.head()

<ipython-input-122-ddf4f2bbd88e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filmes.rename(columns = {'id':'ID_FILME','original_title':'TITULO','original_language':'LINGUAGEM','vote_count':'QT_AVALIACOES'}, inplace = True)

  ID_FILME                       TITULO LINGUAGEM  QT_AVALIACOES
0      862                    Toy Story        en         5415.0
1     8844                      Jumanji        en         2413.0
2    15602             Grumpier Old Men        en           92.0
3    31357            Waiting to Exhale        en           34.0
4    11862  Father of the Bride Part II        en          173.0

In [ ]:
# Filtrando somente as colunas necessários e renomeando nome das variaveis

# Seleciona somente as variaveis que iremos utilizar
avaliacoes = avaliacoes [['userId','movieId','rating']]

# Renomeia as variaveis
avaliacoes.rename(columns = {'userId':'ID_USUARIO','movieId':'ID_FILME','rating':'AVALIACAO'}, inplace = True)

# Exibe as primeiras linhas do arquivo tratado
avaliacoes.head()

<ipython-input-123-e18db9bf19a4>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  avaliacoes.rename(columns = {'userId':'ID_USUARIO','movieId':'ID_FILME','rating':'AVALIACAO'}, inplace = True)

   ID_USUARIO  ID_FILME  AVALIACAO
0           1     110.0        1.0
1           1     147.0        4.5
2           1     858.0        5.0
3           1    1221.0        5.0
4           1    1246.0        5.0

In [ ]:
# Verificando se há valores nulos
filmes.isna().sum()

ID_FILME          0
TITULO            0
LINGUAGEM        11
QT_AVALIACOES     6
dtype: int64

In [ ]:
# Removendo os valores nulos (Não afetará o nosso modelo)
filmes.dropna(inplace = True)

In [ ]:
# Verificando novamente se funcionou a nossa retirada de valores nulos
filmes.isna().sum()

ID_FILME         0
TITULO           0
LINGUAGEM        0
QT_AVALIACOES    0
dtype: int64

In [ ]:
# Verificando se há valores nulos nas avaliações
avaliacoes.isna().sum()

ID_USUARIO    0
ID_FILME      1
AVALIACAO     1
dtype: int64

In [ ]:
# Verificando a quantidade de avaliações por usuários
avaliacoes['ID_USUARIO'].value_counts()

45811     18276
8659       9279
179792     7515
228291     7410
98415      6094
          ...
84733         1
27503         1
119899        1
27514         1
211954        1
Name: ID_USUARIO, Length: 231733, dtype: int64

In [ ]:
# Vamos pegar o ID_USUARIO somente de usuários que fizeram mais de 999 avaliações
qt_avaliacoes = avaliacoes['ID_USUARIO'].value_counts() > 999
y = qt_avaliacoes[qt_avaliacoes].index
y.shape

(2174,)

In [ ]:
# Visualizando os usuários selecionados
y

Int64Index([ 45811,   8659, 179792, 228291,  98415, 229879,  98787, 172224,
            230417,  70648,
            ...
            227649,  76945, 105631, 214328,  14354, 182812,  53075, 196384,
            220764,  30733],
           dtype='int64', length=2174)

In [ ]:
# Visualizando o tamanho do dataset Avaliações
avaliacoes.shape

(22323487, 3)

In [ ]:
# Pegando somente avaliações dos usuários que avaliaram mais de 999 vezes
avaliacoes = avaliacoes[avaliacoes['ID_USUARIO'].isin(y)]

In [ ]:
# Visualizando o tamanho do dataset Avaliacoes
avaliacoes.shape

(3327779, 3)

In [ ]:
# Visualizando o dataframe Avaliacoes
avaliacoes.head()

       ID_USUARIO  ID_FILME  AVALIACAO
17291         229       1.0        3.0
17292         229       2.0        3.0
17293         229       4.0        2.0
17294         229       5.0        1.0
17295         229       7.0        2.0

In [ ]:
# Vamos usar os filmes que possuem somente uma quantidade de avaliações superior a 999 avaliações
filmes = filmes[filmes['QT_AVALIACOES'] > 999]

In [ ]:
# Vamos agrupar e visualizar a quantidade de filmes pela Linguagem
filmes_linguagem = filmes['LINGUAGEM'].value_counts()
filmes_linguagem.head(20)

en    1100
fr       5
ja       5
it       3
ko       2
pt       1
de       1
es       1
cn       1
sv       1
id       1
Name: LINGUAGEM, dtype: int64

In [ ]:
# Selecionar somente os filmes da linguagem EN ( English )
filmes = filmes[filmes['LINGUAGEM'] == 'en']

In [ ]:
# Visualizar os tipos de dados das váriaveis
filmes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1100 entries, 0 to 44842
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID_FILME       1100 non-null   object
 1   TITULO         1100 non-null   object
 2   LINGUAGEM      1100 non-null   object
 3   QT_AVALIACOES  1100 non-null   float64
dtypes: float64(1), object(3)
memory usage: 43.0+ KB

In [ ]:
avaliacoes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3327779 entries, 17291 to 22323486
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   ID_USUARIO  int64
 1   ID_FILME    float64
 2   AVALIACAO   float64
dtypes: float64(2), int64(1)
memory usage: 101.6 MB

In [ ]:
# Precisamos converter a váriavel ID_FILME em inteiro
filmes['ID_FILME'] = filmes['ID_FILME'].astype(int)

In [ ]:
# Verificando  a quantidade de filmes pelo tamanho do arquivo
filmes.shape

(1100, 4)

In [ ]:
filmes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1100 entries, 0 to 44842
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID_FILME       1100 non-null   int64
 1   TITULO         1100 non-null   object
 2   LINGUAGEM      1100 non-null   object
 3   QT_AVALIACOES  1100 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 43.0+ KB

In [ ]:
# Concatenando os dataframes
avaliacoes_e_filmes = avaliacoes.merge(filmes, on = 'ID_FILME')
avaliacoes_e_filmes.head()

   ID_USUARIO  ID_FILME  AVALIACAO        TITULO LINGUAGEM  QT_AVALIACOES
0         229      12.0        1.0  Finding Nemo        en         6292.0
1         741      12.0        3.0  Finding Nemo        en         6292.0
2        1932      12.0        0.5  Finding Nemo        en         6292.0
3        3437      12.0        2.0  Finding Nemo        en         6292.0
4        3694      12.0        1.5  Finding Nemo        en         6292.0

In [ ]:
# Verificando a quantidade de filmes com avaliações pelo tamanho do arquivo
avaliacoes_e_filmes.shape

(164564, 6)

In [ ]:
# Verificando se há valores nulos
avaliacoes_e_filmes.isna().sum()

ID_USUARIO       0
ID_FILME         0
AVALIACAO        0
TITULO           0
LINGUAGEM        0
QT_AVALIACOES    0
dtype: int64

In [ ]:
# Vamos visualizar as primeiras 20 linhas do arquivo
avaliacoes_e_filmes.head(20)

    ID_USUARIO  ID_FILME  AVALIACAO        TITULO LINGUAGEM  QT_AVALIACOES
0          229      12.0        1.0  Finding Nemo        en         6292.0
1          741      12.0        3.0  Finding Nemo        en         6292.0
2         1932      12.0        0.5  Finding Nemo        en         6292.0
3         3437      12.0        2.0  Finding Nemo        en         6292.0
4         3694      12.0        1.5  Finding Nemo        en         6292.0
5         3950      12.0        1.0  Finding Nemo        en         6292.0
6         4294      12.0        2.0  Finding Nemo        en         6292.0
7         4540      12.0        2.0  Finding Nemo        en         6292.0
8         4916      12.0        3.0  Finding Nemo        en         6292.0
9         4932      12.0        2.0  Finding Nemo        en         6292.0
10        5523      12.0        1.5  Finding Nemo        en         6292.0
11        5620      12.0        5.0  Finding Nemo        en         6292.0
12        5641      12.0        2.0  Finding Nemo        en         6292.0
13        5829      12.0        2.5  Finding Nemo        en         6292.0
14        6222      12.0        1.0  Finding Nemo        en         6292.0
15        6294      12.0        2.0  Finding Nemo        en         6292.0
16        6663      12.0        2.5  Finding Nemo        en         6292.0
17        6914      12.0        2.0  Finding Nemo        en         6292.0
18        7417      12.0        4.0  Finding Nemo        en         6292.0
19        7437      12.0        2.0  Finding Nemo        en         6292.0

In [ ]:
# Vamos excluir a variavei ID_FILME
del avaliacoes_e_filmes['ID_FILME']

In [ ]:
# Verificando dataframe sem a variavel
avaliacoes_e_filmes.head(20)

    ID_USUARIO  AVALIACAO        TITULO LINGUAGEM  QT_AVALIACOES
0          229        1.0  Finding Nemo        en         6292.0
1          741        3.0  Finding Nemo        en         6292.0
2         1932        0.5  Finding Nemo        en         6292.0
3         3437        2.0  Finding Nemo        en         6292.0
4         3694        1.5  Finding Nemo        en         6292.0
5         3950        1.0  Finding Nemo        en         6292.0
6         4294        2.0  Finding Nemo        en         6292.0
7         4540        2.0  Finding Nemo        en         6292.0
8         4916        3.0  Finding Nemo        en         6292.0
9         4932        2.0  Finding Nemo        en         6292.0
10        5523        1.5  Finding Nemo        en         6292.0
11        5620        5.0  Finding Nemo        en         6292.0
12        5641        2.0  Finding Nemo        en         6292.0
13        5829        2.5  Finding Nemo        en         6292.0
14        6222        1.0  Finding Nemo        en         6292.0
15        6294        2.0  Finding Nemo        en         6292.0
16        6663        2.5  Finding Nemo        en         6292.0
17        6914        2.0  Finding Nemo        en         6292.0
18        7417        4.0  Finding Nemo        en         6292.0
19        7437        2.0  Finding Nemo        en         6292.0

In [ ]:
# Agora precisamos fazer um PIVOT. Queremos transformar cada usuário em uma variavel com o respectivo 
# valor de nota para cada filme avaliado
filmes_pivot = avaliacoes_e_filmes.pivot_table(columns = 'ID_USUARIO', index = 'TITULO', values = 'AVALIACAO')

# Avaliar o arquivo transformado em pivot
filmes_pivot.head(20)

ID_USUARIO,229,231,741,836,1104,1136,1243,1380,1652,1846,...,230588,230834,230893,230894,230982,231207,231434,231445,231484,231502
TITULO,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Angry Men,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127 Hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2 Fast 2 Furious,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001: A Space Odyssey,NaN,NaN,3.5,2.5,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,5.0,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN
27 Dresses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28 Days Later,3.0,NaN,2.0,3.0,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,3.5,NaN,3.0,NaN,NaN,NaN,3.0
28 Weeks Later,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,4.0,1.0,...,NaN,NaN,1.0,2.0,2.5,1.5,NaN,NaN,NaN,1.0
300,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,4.0,NaN,NaN,3.0,4.0,NaN,NaN,NaN
3:10 to Yuma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4: Rise of the Silver Surfer,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50 First Dates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN
8 Mile,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Beautiful Mind,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Clockwork Orange,2.0,3.0,2.5,3.5,NaN,NaN,NaN,NaN,2.0,2.0,...,3.5,NaN,NaN,NaN,2.5,NaN,2.5,NaN,3.0,3.0
A Nightmare on Elm Street,3.0,2.5,3.0,1.5,4.0,3.0,5.0,3.0,4.0,4.0,...,3.5,4.0,3.0,2.5,2.5,3.5,2.5,4.0,5.0,4.0
A.I. Artificial Intelligence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AVP: Alien vs. Predator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ace Ventura: Pet Detective,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
 # Preenchendo os valores nulos com 0
 filmes_pivot.fillna(0, inplace= True)
 filmes_pivot.head(20)

ID_USUARIO,229,231,741,836,1104,1136,1243,1380,1652,1846,...,230588,230834,230893,230894,230982,231207,231434,231445,231484,231502
TITULO,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
127 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2 Fast 2 Furious,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2001: A Space Odyssey,0.0,0.0,3.5,2.5,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,5.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0
27 Dresses,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28 Days Later,3.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,3.5,0.0,3.0,0.0,0.0,0.0,3.0
28 Weeks Later,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,...,0.0,0.0,1.0,2.0,2.5,1.5,0.0,0.0,0.0,1.0
300,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,4.0,0.0,0.0,3.0,4.0,0.0,0.0,0.0
3:10 to Yuma,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4: Rise of the Silver Surfer,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50 First Dates,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0
8 Mile,0.0,0.0,2.5,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Beautiful Mind,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Clockwork Orange,2.0,3.0,2.5,3.5,0.0,0.0,0.0,0.0,2.0,2.0,...,3.5,0.0,0.0,0.0,2.5,0.0,2.5,0.0,3.0,3.0
A Nightmare on Elm Street,3.0,2.5,3.0,1.5,4.0,3.0,5.0,3.0,4.0,4.0,...,3.5,4.0,3.0,2.5,2.5,3.5,2.5,4.0,5.0,4.0
A.I. Artificial Intelligence,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AVP: Alien vs. Predator,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ace Ventura: Pet Detective,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Importando o csr_matrix do pacote SciPy
# Vamos criar matriz sparsa 

from scipy.sparse import csr_matrix

# Tranformando o nosso dataset em uma matriz sparsa
filmes_sparse = csr_matrix(filmes_pivot)

In [ ]:
# tipo do objeto
type(filmes_sparse)

scipy.sparse._csr.csr_matrix

In [ ]:
# Importando o algoritmo KNN SciKit learn
from sklearn.neighbors import NearestNeighbors

In [ ]:
# Criando o treinamento do modelo preditivo
modelo = NearestNeighbors( algorithm = 'brute')
modelo.fit(filmes_sparse)

NearestNeighbors(algorithm='brute')

## **Fazendo a previsão de sugestões de filmes**

In [ ]:
# 127 Hours
distances, sugestions = modelo.kneighbors(filmes_pivot.filter(items = ['127 Hours'], axis=0).values.reshape(1, -1))

for i in range(len(sugestions)):
  print(filmes_pivot.index[sugestions[i]])

Index(['127 Hours', 'American Hustle', 'The Expendables 2',
       'Madagascar 3: Europe's Most Wanted', 'Lord of War'],
      dtype='object', name='TITULO')